{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt-5  align-items-center">
    <div class="row justify-content-center ">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h1>Simulação de Votação do MDB</h1>
            <h4 class="mb-0">Registre seus dados para poder participar da votação</h4>
          </div>
          <div class="card-body">
              <div class="alert alert-danger show" style="display: none;" role="alert">
              </div>
            <form class="form" name="registrar" method="post" role="form" action="/registrar" autocomplete="off" onsubmit = "return validateForm()">
              <div class="form-group">
                <label>NOME COMPLETO</label>
                <input id="nome" class="form-control form-control-lg rounded-0" name="nomeCompleto" required>
              </div>
              <div class="form-group">
                <label>CPF</label>
                <input id="cpf" class="form-control form-control-lg rounded-0" maxlength="14" name="cpf" required>
              </div>
              <div class="form-group">
                <label>TELEFONE</label>
                <input id="telefone" class="form-control form-control-lg rounded-0" maxlength="14" name="telefone" required>
              </div>
              <div class="form-group">
                <label>EMAIL</label>
                <input id="email" type="email" class="form-control form-control-lg rounded-0" name="email" required>
              </div>
              <button type="submit" class="btn btn-success btn-lg">Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var cpfInput = document.getElementById('cpf');
      cpfInput.addEventListener('input', function() {
        var cpf = cpfInput.value;
        cpf = cpf.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Adiciona o traço
        
        cpfInput.value = cpf;
      });

      var nomeInput = document.getElementById('nome');
      nomeInput.addEventListener('input', function() {
        var nome = nomeInput.value;
        nome = nome.replace(/[^a-zA-Z\u00C0-\u00FF\s]/g, ''); // Remove caracteres não permitidos
        
        nomeInput.value = nome.toUpperCase();
      });

      var telefoneInput = document.getElementById('telefone');
      telefoneInput.addEventListener('input', function() {
        var telefone = telefoneInput.value;
        telefone = telefone.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
        telefone = telefone.replace(/(\d{0})(\d)/, '$1($2'); // Adiciona o primeiro parenteses
        telefone = telefone.replace(/(\d{2})(\d)/, '$1)$2'); // Adiciona o segundo parenteses
        telefone = telefone.replace(/(\d{5})(\d)/, '$1-$2'); // Adiciona o traço
        
        telefoneInput.value = telefone;
      });
    });

    function validateForm() {
        var nomeCompleto = document.forms["registrar"]["nomeCompleto"].value;
        var cpf = document.forms["registrar"]["cpf"].value;
        var telefone = document.forms["registrar"]["telefone"].value;
        var email = document.forms["registrar"]["email"].value;

        if(nomeCompleto == null || nomeCompleto == "") {
            document.getElementsByClassName( "alert" )[0].style.display = "block";
            document.getElementsByClassName( "alert" )[0].innerHTML = "O campo Nome Completo é obrigatório";
            return false;
        } else if(cpf.length < 14) {
            document.getElementsByClassName( "alert" )[0].style.display = "block";
            document.getElementsByClassName( "alert" )[0].innerHTML = "O campo CPF está incorreto";
            return false;
        } else if(telefone.length < 14) {
            document.getElementsByClassName( "alert" )[0].style.display = "block";
            document.getElementsByClassName( "alert" )[0].innerHTML = "O campo Telefone está incorreto";
            return false;
        } else if(email == null || email == "") {
            document.getElementsByClassName( "alert" )[0].style.display = "block";
            document.getElementsByClassName( "alert" )[0].innerHTML = "O campo Email é obrigatório";
            return false;
        } else {
            document.getElementsByClassName( "alert" )[0].style.visibility = "block";
            document.getElementsByClassName( "alert" )[0].innerHTML = "";
            return true;
        }
            
    }
  </script>
{% endblock %}
